# Dependencies
node_modules
**/node_modules
.pnpm-store
**/.pnpm-store

# Build outputs
dist
**/dist
.turbo
**/.turbo
.next
**/.next
coverage

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Environment files
**/.env*
!.env.example

# Temp files
tmp
temp
*.tmp
*.swp

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore
